html {
	font-size:100.01%;
}
body {
  font-size: 100%;
  color: #222;
  background: #fff;
  font-family: sans-serif;
}

/* HEADINGS */
h1,h2,h3,h4,h5,h6 {
	font-weight: bold; color: #111;
}
h1 {
	font-size: 3em;
	line-height: 1;
	margin-bottom: 0.5em;
}
h2 {
	font-size: 2em;
	margin-bottom: 0.75em;
}
h3 {
	font-size: 1.5em;
	line-height: 1;
	margin-bottom: 1em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.25;
	margin-bottom: 1.25em;
}
h5 {
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 1.5em;
}
h6 {
	font-size: 1em;
	font-weight: bold;
}
h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}


/* TEXT ELEMENTS */

p{
	margin: 0 0 1.5em;
}

/* FLOATS */
.left{
	float: left !important;
}
p .left{
	margin: 1.5em 1.5em 1.5em 0;
	padding: 0;
}
.right{
	float: right !important;
}
p .right{
	margin: 1.5em 0 1.5em 1.5em;
	padding: 0;
}

/* LINKS */
a:focus,a:hover{
	color: @link-hover;
}
a{
	color: @link;
	text-decoration: underline;
}

/* MISC TEXT ELEMENTS */
blockquote{
	font-size:2em;
	margin: 1.5em;
	font-style: italic;
}
blockquote:before{
	content:"“"
}
blockquote:after{
	content:"”"
}
strong,dfn{
	font-weight: bold;
}
em,dfn{
	font-style: italic;
}
sup, sub{
	line-height: 0;
}
abbr,acronym{
	border-bottom: 1px dotted #666;
}
address{
	margin: 0 0 1.5em;
	font-style: italic;
}
del{
	color:#666;
}
pre{
	margin: 1.5em 0;
	white-space:pre;
	line-height:1em;
	background:#EEE;
	padding:1em;
	border-radius:4px;
	border-color:#DDD;
	border-width:1px 0 0 1px;
	border-style:solid;
	color:#666;
}
pre,code,tt{
	font: 1em 'andale mono', 'lucida console', monospace;
	line-height: 1.5;
}


/* LISTS */

li ul,li ol{
	margin: 0;
}
ul, ol{
	margin: 0 1.5em 1.5em 0;
	padding-left: 1.5em;
}

ul{
	list-style-type: disc;
}
ol{
	list-style-type: decimal;
}

dl{
	margin: 0 0 1.5em 0;
}
dl dt{
	font-weight: bold;
}
dd{
	margin-left: 1.5em;
}

/* BUTTONS */
.kit-button{
	padding:.5em 1em;
	background:@button-bg;
	color:@button-text;
	text-decoration:none;
	line-height:2.5em;
	border:@button-border solid 1px;
}
.kit-button:hover{
	background:@button-bg-hover;
	border-color:@button-bg;
	color:#FFF;
}
.kit-button-prominent{
	background:@button-prominent-bg;
	border-color:@button-prominent-border;
}
.kit-button-prominent:hover{
	background:@button-prominent-bg-hover;
	border-color:@button-prominent-bg;
}
.kit-button-inactive{
	background:@button-inactive-bg;
	border-color:@button-inactive-border;
	color:@button-inactive-text;
	cursor:default;
	pointer-events:none;
}
.kit-button-inactive:hover{
	background:@button-inactive-bg;
	border-color:@button-inactive-border;
}
.kit-button-small{
	font-size:.75em;
	line-height:3em;
	padding:.5em .5em;
}
.kit-button-big{
	font-size:1.25em;
	padding:.75em 1em;
}


/* TABLES */
/* 
	Because of the need for padding on TH and TD, the vertical rhythm 
	on table cells has to be 27px, instead of the standard 18px or 36px 
	of other elements. 
 */ 
table{
	text-align:left;
	margin-bottom: 1.4em;
	width:100%;
}
th{
	font-weight: bold;
}
thead th{
	border-bottom:#DDD solid 1px;
	text-transform:uppercase;
	font-size:75%;
}
th,td,caption {
	padding: 4px 10px 4px 5px;
}
/*
	You can zebra-stripe your tables in outdated browsers by adding 
	the class "even" to every other table row. 
 */
tbody tr:nth-child(odd) td, tbody tr.odd td  { 
	background: #EEE; 
}

/* MISC TYPE CLASSES */
.center{
	text-align:center;
}

