<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	<!-- Styles -->
    <link rel="stylesheet" href="/styles/toolkit-v1.0.css">
    
		<!-- Head Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
    
    <style>
        body{
        }
        #article-feature{
	        min-height:400px;
	        background:#60d1f6;
	        color:#FFF;
        }
        #article-feature hgroup{
	        margin:240px 0;
        }
        #article-feature:after{
	        content:"";
	        display:block;
	        clear:both;
        }
    </style>

</head>
<body>
	
{{> body}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/scripts/toolkit-v1.0.js"></script>

</body>
</html>
