/* DEMO */
.demo-columns div[class^="kit-column"]{
	background:#DDD;
	height:60px;
	margin-top:10px;
	margin-bottom:10px;
}
.demo-columns div[class^="kit-column"] img{
	display:none;
}
.demo-columns div[class^="kit-column"] p{
	padding:1em;
	font-size:12px;
	text-transform:uppercase;
	color:#AAA;
}
.demo-header{
	background:#EEE;
	border-top:#EEE solid 1px;
	border-bottom:#EEE solid 1px;
}
.demo-title,.demo-caption{
	color:#777;
}
