/* COLUMNS */
.kit-wrapper-flex,.kit-wrapper-max{
	margin:0 auto;
	padding:0 percentage((@gutter/2)/100); /* Half Gutter Width */
	width:percentage((100-@gutter)/100); /* Full Width Minus Gutter Width */
}
.kit-wrapper-flex:after,.kit-wrapper-flex,.kit-wrapper-max:after,.kit-wrapper-max{
	content:"";
	display:block;
	clear:both;
}
.kit-wrapper-flex{
	max-width:percentage((100-@gutter)/100); /* Full Width Minus Gutter Width */
}
.kit-wrapper-max{
	max-width:@max-width;
}
/* Columns */
.kit-column{
	width:percentage(1-(@gutter/100)); /* Full Width Minus Gutter Width */
	margin:0 percentage((@gutter/2)/100); /* Half Gutter Width */
	float:left;
}
.kit-column-xlarge{
	.kit-column;
	width:percentage(2/3-(@gutter/100)); /* 2/3 Column */
}
.kit-column-large{
	.kit-column;
	width:percentage(1/2-(@gutter/100)); /* 1/2 Column */
}
.kit-column-medium{
	.kit-column;
	width:percentage(1/3-(@gutter/100)); /* 1/3 Column */
}
.kit-column-small{
	.kit-column;
	width:percentage(1/4-(@gutter/100)); /* 1/4 Column */
}
.kit-column-xsmall{
	.kit-column;
	width:percentage(1/6-(@gutter/100)); /* 1/6 Column */
}
/* Push Columns */
.kit-push-xlarge{
	margin-left:percentage(2/3+(@gutter/200)); /* 2/3 Column */
}
.kit-push-large{
	margin-left:percentage(1/2+(@gutter/200)); /* 1/2 Column */
}
.kit-push-medium{
	margin-left:percentage(1/3+(@gutter/200)); /* 1/3 Column */
}
.kit-push-small{
	margin-left:percentage(1/4+(@gutter/200)); /* 1/4 Column */
}
.kit-push-xsmall{
	margin-left:percentage(1/6+(@gutter/200)); /* 1/6 Column */
}
/* Column Media Queries */
@media (max-width: 960px) {
	.kit-wrapper-flex,.kit-wrapper-max{
		padding:0 percentage(@gutter/100); /* Half Gutter Width */
		width:percentage(1-(@gutter*2/100)); /* Full Width Minus Gutter Width */
	}
	.kit-wrapper-flex{
		max-width:percentage((100-@gutter)/50); /* Full Width Minus Gutter Width */
	}
	.kit-column-xlarge,.kit-column-large, .kit-column-medium{
		width:percentage(1-(@gutter/50)); /* Full Width Minus Gutter Width */
		margin:0 percentage((@gutter/2)/50); /* Half Gutter Width */
	}
	.kit-column-small, .kit-column-xsmall{
		width:percentage(1/2-(@gutter/50)); /* 1/2 Column */
		margin:0 percentage((@gutter/2)/50); /* Half Gutter Width */
	}
	/* Push Columns */
	.kit-push-xlarge,.kit-push-large{
		margin:0 percentage(1/2+(@gutter/100)); /* 1/4 Column */
	}
	.kit-push-medium,.kit-push-small,.kit-push-xsmall{
		margin:0 percentage((@gutter/2)/50); /* Half Gutter Width */
	}
}
@media (max-width: 480px) {
	.kit-column-small, .kit-column-xsmall{
		width:percentage(1-(@gutter/50)); /* Full Width Minus Gutter Width */
	}
	.kit-push-xlarge,.kit-push-large,.kit-push-medium,.kit-push-small,.kit-push-xsmall{
		margin:0 percentage((@gutter/2)/50); /* Half Gutter Width */
	}
}

/* SPACING */
.kit-spacer{
	border:none;
	width:100%;
	height:0;
	padding:0;
	margin:0;
	background:transparent;
}
hr.kit-spacer-10{ .kit-spacer; height:10px; }
hr.kit-spacer-20{ .kit-spacer; height:20px; }
hr.kit-spacer-30{ .kit-spacer; height:30px; }
hr.kit-spacer-40{ .kit-spacer; height:40px; }
hr.kit-spacer-50{ .kit-spacer; height:50px; }
hr.kit-spacer-60{ .kit-spacer; height:60px; }
hr.kit-spacer-70{ .kit-spacer; height:70px; }
hr.kit-spacer-80{ .kit-spacer; height:80px; }
hr.kit-spacer-90{ .kit-spacer; height:90px; }
hr.kit-spacer-100{ .kit-spacer; height:100px; }
.kit-pad-10{ padding:10px; }
.kit-pad-20{ padding:20px; }
.kit-pad-30{ padding:30px; }
.kit-pad-40{ padding:40px; }
.kit-pad-50{ padding:50px; }
.kit-pad-60{ padding:60px; }
.kit-pad-70{ padding:70px; }
.kit-pad-80{ padding:80px; }
.kit-pad-90{ padding:90px; }
.kit-pad-100{ padding:100px; }

/* IMAGES */
.kit-img-full{
	width:100%;
}
.kit-media{
	position:relative;
}
.kit-media-caption{
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:rgba(0,0,0,.5);
	color:#FFF;
	padding:.5em;
	margin:0;
}

/* FLOATS */
.kit-left{
	float:left;
	margin:0 1em 1em 0;
}
.kit-right{
	float:right;
	margin:0 0 1em 1em;
}

/* MODALS */
.kit-overlay{
	display:block;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background:rgba(80,80,80,.4);
}
.kit-z1{ z-index:1; }
.kit-z2{ z-index:2; }
.kit-z3{ z-index:3; }
.kit-z4{ z-index:4; }
.kit-z5{ z-index:5; }
.kit-z6{ z-index:6; }
.kit-z7{ z-index:7; }
.kit-z8{ z-index:8; }
.kit-z9{ z-index:9; }
.kit-z10{ z-index:10; }
.kit-z11{ z-index:11; }
.kit-z12{ z-index:12; }
.kit-z13{ z-index:13; }
.kit-z14{ z-index:14; }
.kit-z15{ z-index:15; }
.kit-z16{ z-index:16; }
.kit-z17{ z-index:17; }
.kit-z18{ z-index:18; }
.kit-z19{ z-index:19; }
.kit-z20{ z-index:20; }

/* NAV BARS */
.kit-nav-bar{
	background:@nav-bar-bg;
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.kit-nav-bar ul.kit-nav-menu{
	font-family: 'Lato', sans-serif;
	font-weight:normal;
	list-style:none;
	padding:0;
	margin:0;
	background:@nav-bar-bg;
}
.kit-nav-bar ul.kit-nav-menu-right{
	position:absolute;
	top:0;
	right:0;
}
.kit-nav-bar ul.kit-nav-menu > li{
	padding:0;
	margin:0;
	display:inline-block;
}
.kit-nav-bar ul.kit-nav-menu > li.kit-nav-title{
	font-weight:normal;
}
.kit-nav-bar ul.kit-nav-menu > li a{
	display:inline-block;
	color:@nav-item;
	text-decoration:none;
	padding:10px;
	transition:all linear .1s;
}
.kit-nav-bar ul.kit-nav-menu > li a:hover{
	color:darken(@nav-item,20%);
}